.App {
  text-align: center;
  background: aliceblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.query-box {
  resize: none;
  height: 200px !important;
  width: 90% !important;
  font-size: 18px;
}

.query-div {
  background:aliceblue;
  padding: 20px;
}

.table-div {
  background:aliceblue;
  padding: 20px;
}

.submit, .reset {
  width: 150px !important;
  font-size: 18px;
}

#buttons {
  width: 100px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background:aliceblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;/*calc(10px + 2vmin);*/
  color: black;
}

.App-link {
  color: black;
}

.main-div {
  width: 100%;
  float: left;
}

.main-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
